<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>:<br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= label_tag :employee_id, 'Assigned to:' %>
    <%= select('project', 'employee_id', Boss.employees_for_select(session[:user_id]), {include_blank: false}) %>
  </div>
  <div class="field">
    <%= label_tag :status, 'Status:' %>
    <%= select('project', 'status', Constants.statuses, {include_blank: false}) %>
  </div>
  <div class="field">
    <%= label_tag :category_id, 'Category:' %>
    <%= select('project', 'category_id', Category.all_for_select, {include_blank: false}) %>
  </div>
  <div class="field">
    <%= f.label :description %>:<br>
    <%= f.text_area :description, :class => "tinymce", :rows => 20, :cols => 120 %>
    <%= tinymce %>
  </div>
  <div class="field hidden">
    <input type="hidden" name="project[boss_id]" value="<%= session[:user_id] %>" />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
