<% if @projects.count > 0 %>
  <div id="user-projects">
    <% if @user.id == session[:user_id] %>
      <h1>My Projects</h1>
      <h5><%= link_to 'Default', projects_path %> <%= link_to 'Completed', projects_completed_path %> <%= link_to 'All', projects_all_path %></h5>
    <% else %>
      <h1><%= @user.name.possessive %> Projects</h1>
    <% end %>
  
    <table class="project-list" id="project-list-for-<%= @user.id %>">
      <thead>
        <tr>
          <td>#</td>
          <td>Project Name</td>
          <td>Category</td>
          <td>Status</td>
          <td>Assigned By</td>
          <td>Created</td>
          <td>Updated</td>
          <td>Due Date</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
      <% @projects.each do |project| %>
        <%
          created_text = ''
          updated_text = ''
          due_text = ''
          
          # Created
          created_text = "#{time_ago_in_words(project.created_at)} ago"
          
          # Updated
          if not project.modified_at.nil?
            updated_text = "#{time_ago_in_words(project.modified_at)} ago"
          end
  
          # Due
          if not project.due_at.nil?
            due_text = "#{project.due_at}"
          end
  
          # If the task is marked done, we want to make that more obvious
          # than just a single field; add strikethrough on more columns
          extra_class = ''
          if Constants.get_status_by_id(project.status)[:id] == Constants.done or Constants.get_status_by_id(project.status)[:id] == Constants.deleted
            extra_class="status " + Constants.get_status_css_class_by_id(project.status)
          end
        %>
<%
          project_is_done = Constants.get_status_by_id(project.status)[:id] == Constants.done
          project_is_deleted = Constants.get_status_by_id(project.status)[:id] == Constants.deleted
          modified_within_3_days = project.modified_at <= 3.days.ago
          modified_within_2_weeks = project.modified_at <= 2.weeks.ago
          
          #if not (project_is_done and modified_within_2_weeks) and not (project_is_deleted and modified_within_3_days)
%>
          <tr class="project-item" id="<%= project.id %>">
            <td id="priority-<%= @user.id.to_s + '-' + project.id.to_s %>">
              <%= project.priority %>
            </td>
            <td class="<%= extra_class %>">
              <%= project.name %>
            </td>
            <td class="<%= extra_class %>">
              <%= Category.find_by_id(project.category_id).name %>
            </td>
            <td class="status <%= Constants.get_status_css_class_by_id(project.status) %>">
              <%= Constants.get_status_name_by_id(project.status) %>
            </td>
            <td class="<%= extra_class %>">
              <%= User.find_by_id(project.boss_id).name %>
            </td>
            <td class="<%= extra_class %>"><%= created_text %>
            <td class="<%= extra_class %>"><%= updated_text %>
            <td class="<%= extra_class %>"><%= due_text %>
            <td>
              <%= link_to 'View', project %>,
              <%= link_to 'Edit', edit_project_path(project) %>
            </td>
          </tr>
        <% #end %>
      <% end %>
      </tbody>
    </table>
  
    <%= form_tag(projects_prioritize_path) do %>
      <div class="hidden">
        <%= hidden_field_tag(:employee_id, @user.id) %>
        <% @projects.each do |project| %>
          <%
             field_name = 'priorities[' + project.id.to_s + ']'
             field_id = @user.id.to_s + '-' + project.id.to_s
          %>
          <%= hidden_field_tag(field_name, project.priority, :id => field_id) %>
        <% end %>
      </div>
      <div class="submit">
        <%= submit_tag 'Update Priorities' %>
      </div>
    <% end %>
  </div>
<% end %>
